body{
margin:0;
font-family:monospace;
background:black;
color:#00ff66;
}

.login-screen{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
border:1px solid #00ff66;
padding:30px;
text-align:center;
width:300px;
}

input{
background:black;
border:1px solid #00ff66;
color:#00ff66;
padding:10px;
width:90%;
margin-top:10px;
}

button{
margin-top:10px;
background:black;
border:1px solid #00ff66;
color:#00ff66;
padding:10px 20px;
cursor:pointer;
}

.desktop{
height:100vh;
background:#020202;
overflow:hidden;
}

.taskbar{
position:fixed;
bottom:0;
width:100%;
background:#001100;
padding:10px;
display:flex;
justify-content:space-between;
}

.desktop-icons{
padding:20px;
display:flex;
gap:20px;
flex-wrap:wrap;
}

.icon{
width:80px;
text-align:center;
cursor:pointer;
}

.window{
position:absolute;
top:100px;
left:100px;
width:350px;
border:1px solid #00ff66;
background:black;
}

.window-header{
background:#001100;
padding:10px;
}

.window-content{
padding:15px;
}

.hidden{
display:none;
}
